# -*- sh -*-

# Don't let cabal leak state to other projects:
export CABAL_DIR=$(pwd)/.cabal

# Load ../.envrc:
source_up

# Load in the shell.nix file:
use nix

# Reload if these files change:
watch_file $(find . -name '*.cabal' -o -name '*.nix')
