# -*- sh -*-

# Load ../.envrc:
source_up

# Load in the shell.nix file:
if type lorri &>/dev/null; then
  eval "$(lorri direnv)"
else
  use nix
fi

# Reload if these files change:
watch_file $(find . -name '*.cabal' -o -name '*.nix')
